﻿@{
    ViewBag.Title = "Index";
}

<div>
    <br />
    <br />
    <ul>
        <li>
            <a href="/Content/thumbnails/First.jpg" rel="prettyPhoto[gallery1]">
                <img src="/Content/thumbnails/First.jpg" alt="Images" width="220px" height="175" />
            </a>
        </li>
        <li>
            <a href="/Content/thumbnails/Second.jpg" rel="prettyPhoto[gallery1]">
                <img src="/Content/thumbnails/Second.jpg" alt="Images" width="220px" height="175" />
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/Content/thumbnails/Fourth.jpg" rel="prettyPhoto[gallery1]">
                <img src="/Content/thumbnails/Fourth.jpg" alt="Images" width="220px" height="175" />
            </a>
        </li>
        <li>
            <a href="/Content/thumbnails/Third.jpg" rel="prettyPhoto[gallery1]">
                <img src="/Content/thumbnails/Third.jpg" alt="Images" width="220px" height="175" />
            </a>
        </li>
        <li>
            <a href="/Content/thumbnails/Fifth.jpg" rel="prettyPhoto[gallery1]">
                <img src="/Content/thumbnails/Fifth.jpg" alt="Images" width="220px" height="175" />
            </a>
        </li>
    </ul>
</div>