body
{
    margin: 0 auto;
	padding: 0;
	width: 800px;
	color: #000000;
	font: normal 80%/120% Georgia, "Times New Roman", Times, serif;
}

header,
footer,
nav,
section{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

h1
{
    background: inherit;
	border-bottom: 1px dashed #ccc;
	color: #933;
	padding: 0 0 5px;
	text-align: center;
	font: normal 320%/100% Georgia, "Times New Roman", Times, serif;
	margin: 20px 0 5px 10px;
	letter-spacing: -2px;
}


ul
{
  padding: 5;
  margin: 0 0 10px 25px;
  text-align:center;
}

li 
{
  line-height: 20px;
  list-style: none;
  display:inline-block;
}
