﻿@{
    ViewBag.Title = "Index";
}

@*<script type="text/javascript">
    $(function () {
        $("#btnCompute").click(function () {
            var firstNum = $("#txtFistNum").val();
            var secNum = $("#txtSecondNum").val();

            var url = "";

            


            $.ajax({
                url: '@Url.Action("")'
            });
        });
    });
</script>
*@



<h2>Basic Calculator</h2>

@using (Html.BeginForm("Compute", "Calculator"))
{
    <label>First Number:</label>
    <input type="text" id="num1" name="num1" />

    <select id="op" name="op">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="/">/</option>
        <option value="*">*</option>
    </select>

    <label>Second Number:</label>
    <input type="text" id="num2" name="num2" />

    <br />
    <input type="submit" value="Compute" id="btnCompute" />
}
