﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/prettyPhoto.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Gallery.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
    </script>
</head>

<body>
    <div class="header">
        <h1>Photo Gallery</h1>
    </div>
    <div class="section">
        @RenderBody()
    </div>
    <div class="footer"></div>
</body>
</html>
